[Unit]
Requisite=network-online.target libvirtd.service
After=network-online.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
RestartSec=2s
#命令行(必须使用绝对路径)
ExecStart=/usr/bin/python2.7 /usr/lib64/python2.7/site-packages/jimv/node/main.pyc
#启动或者停止服务最大允许花费60秒
TimeoutSec=60s